body {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font: 3.5em "proxima-nova", sans-serif;;
  font-weight: 800;
  font-style: italic;
  color: #C6C6CB;
}

h2 {
  font: normal 1.6em/1.2em "adobe-caslon-pro", serif;
  color: #C6C6CB;
  margin-top: 40px;
}


a {
  color: #05a9f4;
  text-decoration: underline;
  font-style: italic;
}

a:hover {
    color: #1A232F;
}

.links {
  max-width: 640px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.info {
  width: 100%;
}

div.hr {
background: #05a9f4;
width: 250px;
height: 3px;
margin-top: 60px;
margin-bottom: 60px;
}

div.hr hr {
display: none;
}