body {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-x: hidden;
}

h1 {
  font: 5em/0em 'Open Sans', sans-serif;
  color: #C6C6CB;
}

h2 {
  font: normal .8em/2em 'pt mono';
  letter-spacing: 1px;
  color: #C6C6CB;
}


a {
  color: #1A232F;
  text-decoration: none;
}

a:hover {
    color: #A6CE5E;
}

.text {
  max-width: 50%;
  margin-left: 80px;
  margin-top: 12%;
}

.info {
  width: 100%;
}

div.hr {
background: #A6CE5E;
width: 250px;
height: 3px;
margin-top: 90px;
margin-bottom: 50px;
}

div.hr hr {
display: none;
}